.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 35px;
}
.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
/* Styling For the Collage */
.polaroid {
  background: black;
  border: 5px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  align-items: center;
  justify-content: center;
}
.polaroid-text {
  font-family: "Michroma", sans-serif;
  font-size: 15px;
  color: white;
  letter-spacing: 2px;
  padding: 20px;
}
/* Styling for the image selection area */
.selection-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.selection-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-button {
  background: transparent;
  width: 150px;
  height: 150px;
  margin: 7px;
  padding: 0;
  border: none;
}
.highlight-image {
  border: 2px solid #fc5056;
  border-radius: 10px;
  z-index: 100;
}
.candid-image {
  width: 150px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;
}
.print-btn-placement {
  margin-top: 30px;
}
